{% extends 'base.html.twig' %}

{% block title %}Nouveau flux{% endblock %}

{% block body %}
    {% include 'components/_navbar.html.twig' with { show_selector: false } %}

    <h1>Ajouter un Flux RSS</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}


    {{ form_start(form) }}
        {{ form_row(form.customName) }}
        {{ form_row(form.url) }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
