{% extends 'base.html.twig' %}

{% block title %}Nouveau flux{% endblock %}

{% block body %}
    {% include 'components/_navbar.html.twig' with { show_selector: false } %}
    <div class="flex flex-col items-center justify-center w-full h-full">
        <div class="flex flex-col items-center gap-4 bg-[#f0f0f0] border border-gray-300 shadow-inner w-full max-w-lg mx-auto">
            <div class="p-1 w-full">
                <div class="relative bg-[#000080] w-full">
                    <h1 class="text-white text-center font-thin">Ajouter un Flux RSS</h1>
                    <button class="absolute top-[2px] right-[25px] w-5 h-5 text-sm bg-[#c0c0c0] border border-black text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">?</button>
                    <button onclick="window.location.href='{{ path('app_home') }}'" class="absolute top-[2px] right-[2px] w-5 h-5 text-sm bg-[#c0c0c0] border border-black text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">✕</button>
                </div>
            </div>

            {# Affichage des messages d'erreur #}
            {% for message in app.flashes('error') %}
                <div class="flex flex-row items-center gap-2 p-4 bg-red-100 border border-red-500 text-red-700 rounded-md">
                    <img class="w-9 h-9" src="https://64.media.tumblr.com/b22e49d8f52d0e90857458021399339d/63c60cacbd7469c6-f8/s540x810/672e574b011045df3ff463ddc3ddc98f88725fbd.png" alt="Error">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}

            {# Formulaire d'ajout de flux #}
            <div class="flex flex-col items-start p-4 gap-4">
                {{ form_start(form) }}

                <div class="flex flex-col gap-2">
                    <label for="customName" class="text-sm font-thin text-black">Nom du flux:</label>
                    {{ form_widget(form.customName, {'attr': {'class': 'px-2 py-1 border border-gray-400 bg-gray-100 text-black shadow-inner focus:outline-none focus:ring-1 focus:ring-blue-400'}}) }}
                </div>

                <div class="flex flex-col gap-2">
                    <label for="url" class="text-sm font-thin text-black">URL du flux RSS:</label>
                    {{ form_widget(form.url, {'attr': {'class': 'px-2 py-1 border border-gray-400 bg-gray-100 text-black shadow-inner focus:outline-none focus:ring-1 focus:ring-blue-400'}}) }}
                </div>

                <button type="submit" class="px-3 py-0.5 text-sm bg-[#c0c0c0] border border-black text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040] mt-4">
                    Ajouter
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
