<nav class="absolute w-full p-1">
    <nav class="bg-[#000080] flex w-full items-center justify-between px-6 py-4 border border-white font-thin">
        <div class="flex items-center">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('build/images/rssplus.png') }}" alt="RSS+" class="h-11">
            </a>
        </div>


        {% if show_selector is not defined or show_selector %}
            <div class="flex items-center space-x-5">
                <select name="mode"
                        class="px-3 py-2 border border-black text-black bg-[#c0c0c0] shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">
                    <option value="all" {% if not app.request.query.get('source') %}selected{% endif %}>Tous les flux</option>
                    {% for userSource in userSources %}
                        <option value="{{ userSource.source.id }}" {% if app.request.query.get('source') == userSource.source.id %}selected{% endif %}>
                            {{ userSource.customName }}
                        </option>
                    {% endfor %}
                </select>
                <select name="date" 
                        class="px-3 py-2 border border-black text-black bg-[#c0c0c0] shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">
                    <option value="all" {% if not app.request.query.get('date') %}selected{% endif %}>Toutes les dates</option>
                    {% for date in availableDates %}
                        <option value="{{ date }}" {% if app.request.query.get('date') == date %}selected{% endif %}>
                            {{ date }}
                        </option>
                    {% endfor %}
                </select>

            </div>
        {% endif %}

        <script>
            document.querySelector('select[name="mode"]').addEventListener('change', function() {
                const selectedValue = this.value;
                const url = new URL(window.location.href);

                if (selectedValue === 'all') {
                    url.searchParams.delete('source');
                } else {
                    url.searchParams.set('source', selectedValue);
                }

                window.location.href = url.toString();
            });

            document.querySelector('select[name="date"]').addEventListener('change', function() {
                const selectedValue = this.value;
                const url = new URL(window.location.href);

                if (selectedValue === 'all') {
                    url.searchParams.delete('date');
                } else {
                    url.searchParams.set('date', selectedValue);
                }

                window.location.href = url.toString();
            });
        </script>



        <div class="flex items-center space-x-2">
            <a href="{{ path('user_sources') }}"
            class="w-7 h-7 flex items-center justify-center text-xl bg-[#c0c0c0] border border-black text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">
                ≡
            </a>
            <a href="{{ path('add_source') }}"
            class="w-7 h-7 flex items-center justify-center text-xl bg-[#c0c0c0] border border-black text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">
                +
            </a>
            <form action="/logout" method="post">
                <button type="submit"
                    class="w-7 h-7 flex items-center justify-center">
                    <img src="{{ asset('build/images/shutdown.png') }}" alt="Logout" class="w-7 h-7">
                </button>
            </form>
        </div>
    </nav>
</nav>
